.Form{
    width: 765px;
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 25px auto;
}